

.cor-primary{
    background-color:#b10f45;
}

.cor-dark{
    background-color:#b10f45;
}
.info-container {
    height: 200px;
    padding: 30px;
    
}

.info-icon{
    font-size: 5em;
    /* color: RGB(83, 83, 83); */
   
}
.icon{
    margin-right:  20px;
}
.info-icon:hover {
cursor: pointer;
color: blanchedalmond;
}
.texts{
    text-decoration: none;
    color: gray;
}