
.carousel{
    background-color: white;
    background-image: url(../../../images/carT.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 40%;
    
height: 520px;


 
 
}

.carousel::before{
    content: "";
    display: block;
    height: 520px;
    width: 100%;
    position: absolute;
  background-color: black;
    opacity: .1;
    top: 0;
}
.item{
    text-align: center;
    justify-content: center;
    margin-right: 100px;
  
}
.heading-primary-main{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: springgreen;
    font-family:'Times New Roman', Times, serif;
    display: block;
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
.item h2{
    font-size: 53px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
color: #a5640f;
  margin-top: 160px;
  animation: moveInRight 2s ease-out;

}
.item a{
    margin-top: 20px;

      color: black;
      font-size: bold;
      text-decoration: none;
  }
  @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    transform: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn-white {
    background-color: red;
    color: white;
    font-weight: bold;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: black;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}