.bar{

}
.topbar{
    height: 60px;
    background-color: white;
}
.topbar-ul{
    margin-right: auto;
  
   }
.topbar-ul li{
 margin-right: 50px;
    text-decoration: none;
    font-size: 18px;
}
.topbar-ul li a{
 
       text-decoration: none;
   }
.logo{
    height: 80px;
    width: 150px;
}

.properties{
   color: gray;
    font-size: 22px;
    font-weight: bold;
    margin-left: 30px;
}
.properties:hover{
    color: #d8810f;
    cursor: pointer;
 
}
#home:hover{
    color: #d8810f;
    cursor: pointer;
}
#basic-nav-dropdown{
    color: gray;
   
}
#basic-nav-dropdown>li{
   background-color:  white;
   font-weight: 500;
   color: #d8810f;
}

#basic-nav-dropdown:hover{
    color: #d8810f;
    
   
}
.NavDropdown.item{
    color: #d8810f;
}